In [1]:
import numpy as np
import pandas as pd

In [6]:
data_path = ['rawdata/2016.csv',
             'rawdata/2017.csv',
             'rawdata/2018.csv',
             'rawdata/2019.csv',
             'rawdata/2020.csv',
            ]

In [7]:
df = pd.DataFrame()
for path in data_path:
    tdf = pd.read_csv(path)
    df = pd.concat([df, tdf], ignore_index=True)
df = df.drop(df[df.isnull().any(axis=1)].index)
df

         대여스테이션            대여일시  반납스테이션            반납일시    이동거리  회원구분
0          46.0  20160101050015    17.0  20160101050451   380.0     0
1         152.0  20160101050629    82.0  20160101053753  3190.0     2
2         133.0  20160101052416   172.0  20160101055647  2070.0     2
3         133.0  20160101052919   172.0  20160101055734  2080.0     2
4          39.0  20160101053244    57.0  20160101054033   860.0     0
...         ...             ...     ...             ...     ...   ...
2791301    87.0  20201231233850   118.0  20210101002139     0.0     2
2791302   182.0  20201231233856   182.0  20201231233937     0.0     2
2791303    42.0  20201231234559    83.0  20210101001215  2470.0     0
2791304   115.0  20201231235132   196.0  20210101001502  1730.0     0
2791305    60.0  20201231235603   108.0  20210101001237  1590.0     2

[2768374 rows x 6 columns]

In [8]:
df = df.astype({'대여스테이션': 'int16', '대여일시': 'str', 
                '반납스테이션': 'int16', '반납일시': 'str', 
                '이동거리': 'float32', '회원구분': 'int8'})

In [11]:
df.to_pickle('tashu_dataset-rental_history.pkl')