In [1]:
import numpy as np
import pandas as pd

# Rental history

In [6]:
data_path = ['rawdata/2016.csv',
             'rawdata/2017.csv',
             'rawdata/2018.csv',
             'rawdata/2019.csv',
             'rawdata/2020.csv',
            ]

In [7]:
df = pd.DataFrame()
for path in data_path:
    tdf = pd.read_csv(path)
    df = pd.concat([df, tdf], ignore_index=True)
df = df.drop(df[df.isnull().any(axis=1)].index)
df

         대여스테이션            대여일시  반납스테이션            반납일시    이동거리  회원구분
0          46.0  20160101050015    17.0  20160101050451   380.0     0
1         152.0  20160101050629    82.0  20160101053753  3190.0     2
2         133.0  20160101052416   172.0  20160101055647  2070.0     2
3         133.0  20160101052919   172.0  20160101055734  2080.0     2
4          39.0  20160101053244    57.0  20160101054033   860.0     0
...         ...             ...     ...             ...     ...   ...
2791301    87.0  20201231233850   118.0  20210101002139     0.0     2
2791302   182.0  20201231233856   182.0  20201231233937     0.0     2
2791303    42.0  20201231234559    83.0  20210101001215  2470.0     0
2791304   115.0  20201231235132   196.0  20210101001502  1730.0     0
2791305    60.0  20201231235603   108.0  20210101001237  1590.0     2

[2768374 rows x 6 columns]

In [8]:
df = df.astype({'대여스테이션': 'int16', '대여일시': 'str', 
                '반납스테이션': 'int16', '반납일시': 'str', 
                '이동거리': 'float32', '회원구분': 'int8'})

In [11]:
df.to_pickle('tashu_dataset-rental_history.pkl')

# Station information

In [21]:
path = 'rawdata/loc_20200801.csv'

In [22]:
df = pd.read_csv(path)
df

,연번,Station 스테이션/성명,위치,광역시도코드,광역시도명,시군구코드,시군구명,법정동코드,법정동명,행정동코드,행정동명
0,1,무역전시관입구(택시승강장),대전광역시 유성구 도룡동 3-8,30,대전광역시,30200,유성구,3020012700,도룡동,3020055000,신성동
1,2,대전컨벤션센터,대전광역시 유성구 도룡동 4-19,30,대전광역시,30200,유성구,3020012700,도룡동,3020055000,신성동
2,3,한밭수목원1,대전광역시 서구 만년동 396,30,대전광역시,30170,서구,3017012800,만년동,3017065000,만년동
3,4,초원아파트(104동 버스정류장),대전광역시 서구 만년동 401,30,대전광역시,30170,서구,3017012800,만년동,3017065000,만년동
4,5,둔산대공원 입구(버스정류장),대전광역시 서구 둔산2동 1521-10,30,대전광역시,30170,서구,3017011200,둔산동,3017064000,둔산2동
...,...,...,...,...,...,...,...,...,...,...,...
257,258,천문대입구,대전광역시 유성구 신성동 458,30,대전광역시,30200,유성구,3020012500,신성동,3020055000,신성동
258,259,대덕대학교,대전광역시 유성구 장동 48,30,대전광역시,30200,유성구,3020012800,장동,3020055000,신성동
259,260,오정농수산물 도매시장,대전광역시 대덕구 오정동 45-1,30,대전광역시,30230,대덕구,3023010100,오정동,3023051000,오정동
260,261,도로교통공단(건너편 라도무스),대전광역시 유성구 원신흥동 608,30,대전광역시,30200,유성구,3020011400,원신흥동,3020061000,원신흥동
261,262,반석 더샵,대전광역시 유성구 반석동 704,30,대전광역시,30200,유성구,3020013900,반석동,3020054800,노은3동

In [23]:
df = df.astype({'연번': 'int8', 'Station 스테이션/성명': 'str', 
                '위치': 'str', '광역시도코드': 'int8', 
                '광역시도명': 'str', '시군구코드': 'int32', 
                '시군구명': 'str', '법정동코드': 'int64', 
                '법정동명': 'str', '행정동코드': 'int64', 
                '행정동명': 'str'})
df

,연번,Station 스테이션/성명,위치,광역시도코드,광역시도명,시군구코드,시군구명,법정동코드,법정동명,행정동코드,행정동명
0,1,무역전시관입구(택시승강장),대전광역시 유성구 도룡동 3-8,30,대전광역시,30200,유성구,3020012700,도룡동,3020055000,신성동
1,2,대전컨벤션센터,대전광역시 유성구 도룡동 4-19,30,대전광역시,30200,유성구,3020012700,도룡동,3020055000,신성동
2,3,한밭수목원1,대전광역시 서구 만년동 396,30,대전광역시,30170,서구,3017012800,만년동,3017065000,만년동
3,4,초원아파트(104동 버스정류장),대전광역시 서구 만년동 401,30,대전광역시,30170,서구,3017012800,만년동,3017065000,만년동
4,5,둔산대공원 입구(버스정류장),대전광역시 서구 둔산2동 1521-10,30,대전광역시,30170,서구,3017011200,둔산동,3017064000,둔산2동
...,...,...,...,...,...,...,...,...,...,...,...
257,2,천문대입구,대전광역시 유성구 신성동 458,30,대전광역시,30200,유성구,3020012500,신성동,3020055000,신성동
258,3,대덕대학교,대전광역시 유성구 장동 48,30,대전광역시,30200,유성구,3020012800,장동,3020055000,신성동
259,4,오정농수산물 도매시장,대전광역시 대덕구 오정동 45-1,30,대전광역시,30230,대덕구,3023010100,오정동,3023051000,오정동
260,5,도로교통공단(건너편 라도무스),대전광역시 유성구 원신흥동 608,30,대전광역시,30200,유성구,3020011400,원신흥동,3020061000,원신흥동
261,6,반석 더샵,대전광역시 유성구 반석동 704,30,대전광역시,30200,유성구,3020013900,반석동,3020054800,노은3동

In [24]:
df.to_pickle('tashu_dataset-station_information.pkl')