# 충남과학고등학교 데이터분석 특강 (3H / 6H)
# 예제로 배우는 데이터 분석
## 초급: 3H, 중급: 6H (초중급 3H 동일)

# Case 4: 코로나 바이러스 기초 분석
##### [데이터출처1](https://github.com/CSSEGISandData/COVID-19)
##### [데이터출처2](https://www.kaggle.com/datasets/antgoldbloom/covid19-data-from-john-hopkins-university)

##### 도구 불러오기

In [8]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib widget

##### 데이터 경로 설정 (data_root)

In [4]:
data_root = 'datasets/covid-19/CONVENIENT_global_confirmed_cases.csv'

##### 데이터 읽어오기

In [7]:
df = pd.read_csv(data_root)
df

,Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
0,Province/State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
2,1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,7/5/22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4622.0,74.0,58.0,0.0,989.0,0.0,0.0,0.0,0.0,29.0
896,7/6/22,186.0,1121.0,8.0,494.0,0.0,0.0,3.0,0.0,0.0,...,0.0,87.0,23.0,167.0,914.0,0.0,0.0,0.0,149.0,50.0
897,7/7/22,105.0,947.0,21.0,0.0,0.0,0.0,13.0,0.0,0.0,...,0.0,94.0,99.0,106.0,913.0,0.0,0.0,0.0,243.0,0.0
898,7/8/22,137.0,973.0,26.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,91.0,0.0,442.0,802.0,0.0,0.0,0.0,143.0,86.0
899,7/9/22,14.0,1001.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,98.0,48.0,175.0,1406.0,0.0,0.0,0.0,0.0,33.0