# 수업 준비: 대전광역시공용자전거(타슈)데이터 결정트리

### 참고자료
- [대전광역시 시설관리공단](https://www.djsiseol.or.kr/)
- [공공데이터포털](https://www.data.go.kr/)
- [기상청 기상자료개발포털](https://data.kma.go.kr/)

In [ ]:
import numpy as np
import pandas as pd

# Rental history

In [ ]:
data_path = ['rawdata/2016.csv',
             'rawdata/2017.csv',
             'rawdata/2018.csv',
             'rawdata/2019.csv',
             'rawdata/2020.csv',
             'rawdata/2021.csv',
             # 'rawdata/2022.csv',
            ]

In [ ]:
df = pd.DataFrame()
for path in data_path:
    tdf = pd.read_csv(path)
    df = pd.concat([df, tdf], ignore_index=True)
df = df.drop(df[df.isnull().any(axis=1)].index)
df = df.drop(df[(df['대여스테이션'] == 0) | (df['반납스테이션'] == 0)].index)
df

In [ ]:
df = df.astype({'대여스테이션': 'int16', '대여일시': 'str', 
                '반납스테이션': 'int16', '반납일시': 'str', 
                '이동거리': 'float32', '회원구분': 'int8'})

In [ ]:
df['대여일시'] = df['대여일시'].replace('\.\d+', '', regex=True)
df['반납일시'] = df['반납일시'].replace('\.\d+', '', regex=True)

In [ ]:
df.to_pickle('tashu_dataset-rental_history.pkl')

# Station information

In [ ]:
path = 'rawdata/loc_20230101.csv'

In [ ]:
df = pd.read_csv(path, index_col='번호')
df

In [ ]:
df = df.astype({'구분': 'str', 
                '대여소명': 'str', 
                '구': 'str', 
                '동': 'str', 
                '위도': 'float32', 
                '경도': 'float32'})
df

In [ ]:
df.to_pickle('tashu_dataset-station_information.pkl')

# Weather information

In [ ]:
data_path = ['rawdata/weather_20230101.csv'
            ]

In [ ]:
df = pd.DataFrame()
for path in data_path:
    tdf = pd.read_csv(path)
    df = pd.concat([df, tdf], ignore_index=True)
df.fillna(0, inplace=True)
df

In [ ]:
df = df.astype({'지점': 'int16', '지점명': 'str', '일시': 'str', 
                '평균기온(°C)': 'float32', '일강수량(mm)': 'float32'})
df

In [ ]:
df.to_pickle('weather.pkl')